<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ title }}</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
<div style="width: 680px;">
  <div style="float: right; margin-left: 20px;">
    <a href="{{ store_url }}" title="{{ store_name }}">
      <img src="{{ image }}" alt="{{ store_name }}" style="margin-bottom: 20px; border: none;" />
    </a>
  </div>
  <div>
    <p style="margin-top: 0px; margin-bottom: 20px;">{{ text_store_message }}</p>
    
      <p style="margin-top: 0px; margin-bottom: 20px;">
        <strong>{{ text_name }}: </strong>{{ name }}</p>

      <p style="margin-top: 0px; margin-bottom: 20px;">
        <strong>{{ text_mail }}: </strong>{{ mail }}
      </p>

    <p style="margin-top: 0px; margin-bottom: 20px;"><a href="{{ admin_url }}">{{ text_admin_url }}</a></p>
  </div>
</div>
</body>
</html>