{% if payment_terms|length > 1 %}
<div class="pull-left">
  <div class="btn-group">
      <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-credit-card" alt="{{ text_payment_term }}"></i>     
        {% for payment_term in payment_terms %}
          {% if payment_term.code == code %}             
            <i><span>{{ payment_term.name }}</span>
          {% endif %}
        {% endfor %}  
       &nbsp;<i class="fa fa-caret-down"></i>
      </button>
      <ul class="dropdown-menu">
        {% for payment_term in payment_terms %}          
          <li>
            <a href="{{ payment_term.href }}">
              <button class="btn btn-link btn-block" type="button" name="{{ payment_term.code }}">
                <i class="fa fa-credit-card" alt="{{ text_payment_term }}"></i>    
                &nbsp;{{ payment_term.name }}
              </button>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
</div>
{% endif %}