{% if payment_terms|length > 0 %}
	<div class="top-menu top-menu-2">
		<ul class="j-menu">
			<li class="menu-item top-menu-item dropdown drop-menu">
				<a class="dropdown-toggle" data-toggle="dropdown" style="font-size:12px;">
					{% for payment_term in payment_terms %}
					  {% if payment_term.code == code %}
						<i class="fa fa-credit-card" alt="{{ text_payment_term }}"></i>
						&nbsp;						
						<span class="links-text">{{ payment_term.name }}</span>
					  {% endif %}
					{% endfor %}
				</a>
				 <div class="dropdown-menu j-dropdown">
					<ul class="j-menu">
						{% for payment_term in payment_terms %}
							<li class="menu-item">
								<a href="{{ payment_term.href }}">
									<i class="fa fa-credit-card" alt="{{ text_payment_term }}"></i>
									&nbsp;
									<span class="links-text">{{ payment_term.name }}</span>
								</a>
							</li>
						{% endfor %}
					</ul>		
				 </div>
			</li>
		</ul>
	</div>
{% endif %}